data/bronze/*.parquet
data/silver/*.parquet
data/gold/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Ambientes virtuais
.env
.venv
env/
venv/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log
